* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("images/photo-1570030534989-31a8e6812fc9.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cart {
    width: 550px;
    height: 350px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: 5;
    margin-top: 230px;
    margin-left: 650px;
    border-color: transparent;
    border-radius: 30px;
}

.boxSearch {
    margin-left: 90px;
    width: 350px;
    height: 40px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: rgb(49, 49, 49);
    padding-left: 20px;
    font-size: 17px;
    color: rgb(197, 197, 197);
    font-weight: 400;
    font-style: bold;
    border: 2px solid;
    border-color: rgb(50, 50, 50);
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    /* background-color: rgba(44, 44, 44, 0.9);
    backdrop-filter: blur(8px);
    z-index: 5; */
}


/* .boxSearch:focus {
    border-color: black;
    border: 3px solid;
} */

.search {
    float: right;
    position: absolute;
    background-color: rgb(49, 49, 49);
    padding: 6px;
    border-radius: 50px;
    margin-top: 17px;
    margin-left: 10px;
    border-color: rgb(50, 50, 50);
    border: 2px solid transparent;
}

.search:hover {
    background-color: rgb(62, 62, 62);
    cursor: pointer;
    transition: 0.2s ease-in;
}

.boxInfo {
    /* background-color: rgb(255, 136, 0); */
    width: 300px;
    height: 230px;
    margin-left: 90px;
    margin-top: 30px;
    color: white;
}

.h2 {
    margin-left: 10px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.degree {
    padding-top: 20px;
    margin-left: 10px;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.situation {
    padding-top: 35px;
    margin-left: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.Humidity {
    padding-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}

.windSpeed {
    padding-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
}